@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    background: black;
    animation: animBefore 1.5s ease forwards;
}

@keyframes animBefore {
    to {
        opacity: 0;
    }
}

body {
    background: url(./images/biche.jpg) fixed center/cover;
    color: #F1E2D4;
    font-family: 'Unbounded', cursive;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    padding: 20px 40px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    position: relative;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #F1E2D4;
}

li:hover:before {
    content:"";
    width: 5%;
    height: 2px;
    position: absolute;
    background: #F1E2D4;
    transform: translateY(30px);
    }

.logo {
    font-weight: 100;
    font-size: 1.2rem;
    color: #F1E2D4;
    padding: 7px;
}

.section-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    height: 90vh;
    min-width: 50%;
    font-weight: 300;
}

.left-container {
    display: flex;
    margin-right:  100px;
    margin-left: 100px;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;
}

@keyframes headerAnim {
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}

.right-container {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 100%;
}

h2 {
    letter-spacing: 10px;
    font-weight: 400;
    background:  #F1E2D4;
    color: #2b2b2b;
    padding: 5px;
    margin-top: 15px;
    width: 466px;
    text-align: center;
}

.photographie {
    min-height: 100vh;
    min-width: 100vh;
    background:  #F1E2D4;
    color: #012E40;
}

.photographie h1 {
    padding: 40px;
}

.projets {
    min-height: 100vh;
    min-width: 100vh;
    background:  #F1E2D4;
    color: #012E40;
}

.projets h1 {
    padding: 40px;
    text-align: right;
}

.contact {
    background: #012E40;
}

.container {
    padding: 80px 40px;
    min-height: 100vh;
    min-width: 100vh;
}

.section-2 {
    text-align: right;
}

.section-2 h1, .section-3 h1 {
    font-weight: 100;
    font-size: 4rem;
    line-height: 100%;
    margin: 20px 0;
}

p {
    text-transform:initial;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    background: transparent;
    color: #fb9f00;
    border: #fb9f00 2px solid;
    border-radius: 30px;
    height: 50px;
    padding: 1px 30px;
    font-family: 'Unbounded', cursive;
    font-size: 1.3rem;
    margin-right: 230px;
    margin: auto 0;
    margin-right: 150px;
}

i {
    transform: translateX(5px);
}

button:hover {
    background: #fb9f00;
    color: #012E40;
    border: #fb9f00 2px solid;
    transition: 0.5s ease;
}