@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(./images/biche.jpg) fixed center/cover;
    color: #eeeeee;
    font-family: 'Unbounded', cursive;
    height: 100vh;

    &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    background: rgb(0, 0, 0);
    animation: animBefore 1.5s ease forwards;
    }
    
    @keyframes animBefore {
        to {
            opacity: 0;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    padding: 20px 40px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    
        li {
            position: relative;
        }
            a {
                text-decoration: none;
                color: #eeeeee;
                transition: .4s ease;

                &:hover {
                    color: #00fb8e;
                }

                &::after {                
                    content: " ";
                    display: block;
                    position: absolute;
                    inset: 0 0 0 0;
                    top: 25px;
                    height: 2px;
                    background: #00fb8e;
                    z-index: -2;
                    transition: transform .4s ease;      
                    transform: scaleX(0);
                    transform-origin: bottom right;
                }
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
            }
        }
    }

    .logo {
    font-weight: 100;
    font-size: 1.2rem;
    color: #eeeeee;
    padding: 7px;
    }
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    height: 90vh;
    min-width: 50%;
    font-weight: 300;

    .left-container {
        display: flex;
        margin-right:  100px;
        margin-left: 100px;
        margin-top: 100px;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s forwards;

        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }    
    }
    
    h1 {
        font-size: 4rem;
        font-weight: 200;
        line-height: 100%;
    }

    h2 {
        letter-spacing: 10px;
        font-weight: 400;
        background:  #eeeeee;
        color: #2b2b2b;
        padding: 5px;
        margin-top: 15px;
        width: 466px;
        text-align: center;
    }
}

.photographie {
    min-height: 100vh;
    min-width: 100vh;
    background:  #eeeeee;
    color: #012E40;

    h1 {
        padding: 40px;
        font-weight: 100;
        font-size: 4rem;
        line-height: 100%;
        text-align: right;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 4200px;
        padding: 0 40px;
        gap: 40px;

        .img1 {
            background: url(./images/machine.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img2 {
            background: url(./images/urbex09.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img3 {
            background: url(./images/roue.jpg) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img4 {
            background: url(./images/IMG_8230.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img5 {
            background: url(./images/flamme.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img6 {
            background: url(./images/urbex08.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img7 {
            background: url(./images/feuille2.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img8 {
            background: url(./images/urbex01.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img9 {
            background: url(./images/kaya.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img10 {
            background: url(./images/biche.jpg) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }
        
        .img11 {
            background: url(./images/pont.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img12 {
            background: url(./images/flou.JPG) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }

        .img13 {
            background: url(./images/fenetre.jpg) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }
        
        .img14 {
            background: url(./images/chloe.jpg) center/cover;
            box-shadow:0px 0px 10px 0 rgba(0,0,0,0.5);
        }
    }
}

.projets {
    min-height: 100vh;
    min-width: 100vh;
    background:  #eeeeee;
    color: #012E40;



    h1 {
        padding: 40px;
        font-weight: 100;
        font-size: 4rem;
        line-height: 100%;
    }
}

.contact {
    background: #012E40;

    .container {
        padding: 80px 40px;
        min-height: 100vh;
        min-width: 100vh;
    }

    h1 {
        padding: 40px 0;
        font-weight: 100;
        font-size: 4rem;
        line-height: 100%;
    }

    .section-2 {
        text-align: right;
    }

    .section-3 {
        text-align: left;
    }

    p {
        text-transform:initial;
        font-weight: 200;
        text-align: justify;
        margin-bottom: 40px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        cursor: pointer;
        background: transparent;
        color: #fb9f00;
        border: #fb9f00 2px solid;
        border-radius: 30px;
        height: 50px;
        padding: 1px 30px;
        font-family: 'Unbounded', cursive;
        font-size: 1.3rem;
        margin-right: 230px;
        margin: auto 0;
        margin-right: 150px;

        &:hover {
            background: #fb9f00;
            color: #012E40;
            border: #fb9f00 2px solid;
            transition: 0.5s ease;
        }
        
        i {
            transform: translateX(5px);
        }
    }
}


@media screen and (max-width: 1470px) {
    .header {
        .left-container {
        margin-left: 0px;
    }
}   
}

@media screen and (max-width: 1190px) {
    body {
    background: #012E40;
    }
    
    .header {
        display: flex;
        h2 {
        color: #012E40;
        }
        .left-container {
            margin: 0 auto;
        }
    }

    .photographie {
        width: 100%;
        h1 {
            font-size: 3rem;
            text-align: center;
            padding: 40px 0;
        }
        .grid-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            max-width: 50%;
            padding: 0;
        }
    }

    .photographie .grid-container div {
        width: 400px;
        min-height: 300px;
    }

    .projets {
        h1 {
            font-size: 3rem;
        }
    }
    

    .contact {

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    h1 {
        font-size: 3rem;
        text-align: left;
    }

    button {
        margin-bottom: 30px;
    }
    }
}

@media screen and (max-width: 900px) {
    nav {
        font-size: 0.7rem;

        .logo {
            font-size: 1rem;
        }
    }
}