@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(./images/biche.jpg) fixed center/cover;
  color: #eeeeee;
  font-family: "Unbounded", cursive;
  height: 100vh;
}

body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  animation: animBefore 1.5s ease forwards;
}

@keyframes animBefore {
  to {
    opacity: 0;
  }
}

.photographie, .projets {
  min-height: 100vh;
  min-width: 100vh;
  background: #eeeeee;
  color: #012E40;
}

.flex {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

p {
  margin-top: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.img1, .img2, .img3, .img4, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, 
.capt1, .capt2, .capt3, .capt4 {
  width: 38%;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  margin: 40px;
}

.capt5, .capt6, .capt7, .capt8, .capt9, .capt10, .capt11, .capt12, .capt13 {
  width: 80%;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.capt14 {
  background: url(./images/chloe.jpg) center/cover;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
}

.padding {
  padding: 20px;
}

.contact .section-2 {
  text-align: right;
}

.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.footer a {
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 1190px) {
  body {
    background: #012E40;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img1, .img2, .img3, .img4, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, 
  .capt1, .capt2, .capt3, .capt4 {
    width: 70%;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  }

  .contact .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .contact h1 {
    font-size: 3rem;
    text-align: left;
  }

}

@media screen and (max-width: 700px) {

  .img1, .img2, .img3, .img4, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, 
  .capt1, .capt2, .capt3, .capt4 {
    width: 38%;
    margin: 30px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
  }

  .capt5, .capt6, .capt7, .capt8, .capt9, .capt10, .capt11, .capt12, .capt13 {
    width: 38%;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 20px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .photographie, .projets {
    width: 350px;
  }

  .photographie div, .projets div {
    width: 350px;
  }

  section {
    width: 350px;
  }

  .container p {
    width: 350px;
  }

  .container h2 {
    width: 350px;
  }

}
