.flex-rectangle {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.projets {
  min-height: 100vh;
  min-width: 100vh;
  background: #eeeeee;
  color: #012E40;
}

.projets h1 {
  padding: 60px;
  font-weight: 100;
  font-size: 4rem;
  line-height: 100%;
}

@media screen and (max-width: 1190px) {
  .projets h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .flex-rectangle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 15px;
  }

  .projets h1 {
    font-size: 1.5em;
    padding: 0;
    padding-left: 50px;
  }
}